/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* Chrome */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Opéra*/

input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin: 0
}

.colorText1 {
    color: #bba791;
    font-size: 1.5rem;
}

.colorText2 {
    color: #c0484c;
    font-size: 1rem;
}

.colorText3 {
    color: #d3c1ae;
    font-size: 1rem;
}

.calculatorArea {
    background-color: #718377;
    width: 30%;
    border-radius: 1rem;
}

.buttonNumber {
    background-color: #6b6c61;
    color: #dfe1e6;
}

.exeButton {
    background-color: #86bae1;
    color: #dfe1e6;
}

.razButton {
    background-color: #d6beb4;
    color: #dfe1e6;
}

#nb1,
#nb2,
#operator {
    width: 6rem;
    height: 10rem;
    font-size: 1.5rem;
}

.buttonSize1 {
    width: 3.8rem;
    text-align: center;
    padding: 0.7rem;
}

.borderCasio {
    border: 1px solid #95b19e;
    border-radius: 1rem;
}

#overview {
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
}

.borderWindow {
    background-color: #ffffff;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    border: 1px solid #95b19e;
    border-radius: 0.5rem;
}

input {
    border: none;
}

.pixelFont {
    font-family:"PixelFont";
}

@font-face {
    font-family: "PixelFont";
    src: url("../font/VCR_OSD_MONO_1.001.ttf") format("truetype");
}